html{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;

}
header{
    padding-bottom: 3.4rem;
    border-bottom: .04rem solid seashell;
}

#logo{
    display: flex;
    justify-content: flex-start;
    margin: .45rem;
    position: absolute;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.4rem;
    padding-left: 60%;
    justify-content: space-around;
}

nav a{
    color: seashell;
    text-decoration: underline;
}

#mission{
    background-image: url('/Resources/img-mission-background.webp');
    height: 31.8rem;
    width: 80%;
   position: relative;
   bottom: 0.9rem;
   margin-left: 10%;
   margin-right: 10%;
   background-position: center;
   background-size: cover;

    }
    #mission h2 , #mission h4 {
        background-color: black;
        position: relative;
        top: 15.9rem;
    }
    #mission h4 {
        position: relative;
        top: 14.5rem;
        padding-top: 0.45rem;
        padding-bottom: 0.45rem;
    }
    #featured h2 , #featured h4{
       /*border: springgreen 1px solid;*/
       position: relative;
       right: 1.14rem;
       display: flex;
       justify-content: center;
       margin: 0 9rem;
    }
  
    #featured img
{
    width: 13.6rem;
    height: 9rem;
}    
    #tea-pics{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#featured img{
    margin-bottom: .45rem;
}
 #locations{
     background-image: url('/Resources/img-locations-background.webp');
     background-position: center;
     height: 22.7rem;
     width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-size: cover;

   
 }
 #locations h2 {
   
   position: relative;
   top: 3.2rem;
 }
 #loc{
     
     display: flex;
     justify-content: space-around;
     margin-top: 4.5rem;
}
#loc-1, #loc-2,#loc-3{
    background-color: rgba(0, 0,0, 0.9);
}
#loc-1{
    padding: 0 2.3rem;
}
#loc-2{
    padding: 0 0.9rem;
}
#loc-3{
    padding: 0 0.9rem;
}
#contact{
      height: 9rem;
}
footer{
    text-align: left;
    margin-left: 0.9rem;
}