html{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;

}
header{
    padding-bottom: 75px;
    border-bottom: 1px solid seashell;
}

#logo{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    position: absolute;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-left: 60%;
    justify-content: space-around;
}

nav a{
    color: seashell;
    text-decoration: underline;
}

#mission{
    background-image: url('/Resources/img-mission-background.webp');
    height: 700px;
    width: 1200px;
    margin-left: 20%;
  position: relative;
  bottom: 20px;
    
    
    }
    #mission h2 , #mission h4 {
        background-color: black;
        position: relative;
        top: 350px;
    }
    #mission h4 {
        position: relative;
        top: 320px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #featured h2 , #featured h4{
       /*border: springgreen 1px solid;*/
       position: relative;
       right: 25px;
       display: flex;
       justify-content: center;
       margin: 0 200px;
    }
  
    #featured img
{
    width: 300px;
    height: 200px;
}    
    #tea-pics{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#featured img{
    margin-bottom: 10px;
}
 #locations{
     background-image: url('/Resources/img-locations-background.webp');
     background-position: center;
     height: 500px;
     width: 1200px;
    margin-left: 20%;

   
 }
 #locations h2 {
   
   position: relative;
   top: 70px
 }
 #loc{
     
     display: flex;
     justify-content: space-around;
     margin-top: 100px;
}
#loc-1, #loc-2,#loc-3{
    background-color: rgba(0, 0,0, 0.9);
}
#loc-1{
    padding: 0px 50px;
}
#loc-2{
    padding: 0 20px;
}
#loc-3{
    padding: 0 20px;
}
#contact{
      height: 200px;
}
footer{
    text-align: left;
    margin-left: 20px;
}